<form>
    <lable>Email</lable>
    <input type="email">
    
    <lable>Avatar Url</lable>
    <input type="text">
    
    <lable>Username</lable>
    <input type="text">
    
    <lable>Password</lable>
    <input type="password">
    
    <button type="submit">Signup</button>
</form>